.backgroundApp {
  background: #fedbd0;
  background: -webkit-linear-gradient(to right, #feeae6, #fedbd0);
  background: linear-gradient(to right, #feeae6, #fedbd0);

  min-height: 100vh; /* altura */
  display: flex;
  flex-direction: column;
}

.title {
  color: #442c2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ilustration {
  align-self: center;
  padding: 3rem;
  margin: 30px 0px;
  background: #A29BE8;
  background: -webkit-linear-gradient(to right, #9BBEE8, #A29BE8);
  background: linear-gradient(to right, #9BBEE8, #A29BE8);

  border-radius: 600px;
  box-shadow:  24px 24px 48px #9BBEE8,
              -24px -24px 48px #f3e9ff;
}

img {
  width: 10rem;
}
